In [1]:
import pykx as kx
from pykx import q
H = 10
W = 20
q.system.console_size = [H, W]

In [2]:
# Many datatypes
q('t:flip {(`$/:t)!2#/:(t:{x where not x in " z"}.Q.t)$\\:()}[]')
q('T:flip {(`$/:upper t)!2#/:enlist each 2#/:(t:{x where not x in " z"}.Q.t)$\\:()}[]')
q('wideManyDatatypes:t,\'T')
display(q('wideManyDatatypes'))

pykx.Table(pykx.q('
b g              ..
-----------------..
0 00000000-0000-0..
0 00000000-0000-0..
'))

In [3]:
# Single column table
q('singleColTab:([] a:.z.d-til 2000)')
display(q('0#singleColTab'))
display(q('1#singleColTab'))
display(q('2#singleColTab'))
display(q('9#singleColTab'))
display(q('10#singleColTab'))
display(q('11#singleColTab'))
display(q('12#singleColTab'))

pykx.Table(pykx.q('
a
-
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
2023.10.05
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

pykx.Table(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

In [4]:
# Multi column table
q('multiColTab:([] a:.z.d-til 2000; sym:2000?`7)')
display(q('0#multiColTab'))
display(q('1#multiColTab'))
display(q('2#multiColTab'))
display(q('10#multiColTab'))
display(q('11#multiColTab'))

pykx.Table(pykx.q('
a sym
-----
'))

pykx.Table(pykx.q('
a          sym
------------------
2023.10.06 milglie
'))

pykx.Table(pykx.q('
a          sym
------------------
2023.10.06 milglie
2023.10.05 igfbage
'))

pykx.Table(pykx.q('
a          sym
------------------
2023.10.06 milglie
2023.10.05 igfbage
2023.10.04 kaodhbe
2023.10.03 bafclbi
2023.10.02 kfhogjn
..
'))

pykx.Table(pykx.q('
a          sym
------------------
2023.10.06 milglie
2023.10.05 igfbage
2023.10.04 kaodhbe
2023.10.03 bafclbi
2023.10.02 kfhogjn
..
'))

In [5]:
q('n:-1+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('0#extraWide'))
display(q('1#extraWide'))
display(q('2#extraWide'))
display(q('10#extraWide'))
display(q('11#extraWide'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [6]:
q('n:last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('0#extraWide'))
display(q('1#extraWide'))
display(q('2#extraWide'))
display(q('10#extraWide'))
display(q('11#extraWide'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [7]:
q('n:1+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('0#extraWide'))
display(q('1#extraWide'))
display(q('2#extraWide'))
display(q('10#extraWide'))
display(q('11#extraWide'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [8]:
q('n:50+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('0#extraWide'))
display(q('1#extraWide'))
display(q('2#extraWide'))
display(q('10#extraWide'))
display(q('11#extraWide'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.Table(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [9]:
#Many keys
display(q('(-1+last system"c")!0#extraWide'))
display(q('(-1+last system"c")!1#extraWide'))
display(q('(-1+last system"c")!2#extraWide'))
display(q('(-1+last system"c")!10#extraWide'))
display(q('(-1+last system"c")!11#extraWide'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [10]:
display(q('(last system"c")!0#extraWide'))
display(q('(last system"c")!1#extraWide'))
display(q('(last system"c")!2#extraWide'))
display(q('(last system"c")!10#extraWide'))
display(q('(last system"c")!11#extraWide'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [11]:
display(q('(1+last system"c")!0#extraWide'))
display(q('(1+last system"c")!1#extraWide'))
display(q('(1+last system"c")!2#extraWide'))
display(q('(1+last system"c")!10#extraWide'))
display(q('(1+last system"c")!11#extraWide'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.KeyedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [12]:
# Dictionaries 
display(q('()!()'))
display(q('(enlist `b)!(enlist 2)'))
display(q('(`a`b)!(1 2)'))
display(q('(10?`6)!(til 10)'))
display(q('(11?`6)!(til 11)'))

pykx.Dictionary(pykx.q(''))

pykx.Dictionary(pykx.q('b| 2'))

pykx.Dictionary(pykx.q('
a| 1
b| 2
'))

pykx.Dictionary(pykx.q('
bahmjm| 0
jjbkce| 1
ihmiil| 2
cobokk| 3
edjipe| 4
kegfkl| 5
pmifbc| 6
..
'))

pykx.Dictionary(pykx.q('
gdbeam| 0
fffcoh| 1
jhkpmf| 2
abggec| 3
lmjikf| 4
ihnkfc| 5
iflcka| 6
..
'))

In [13]:
display(q('(enlist `b)!([] a:enlist 1)'))
display(q('(enlist `b)!([] a:enlist 1;b:enlist 2)'))
display(q('(enlist `b)!([] a:enlist 1;b:enlist 2)'))

pykx.Dictionary(pykx.q('
 | a
-| -
b| 1
'))

pykx.Dictionary(pykx.q('
 | a b
-| ---
b| 1 2
'))

pykx.Dictionary(pykx.q('
 | a b
-| ---
b| 1 2
'))

In [14]:
display(q('(9?`6)!flip (`$"col",/:string til 19)!(19#enlist til 9)'))
display(q('(10?`6)!flip (`$"col",/:string til 20)!(20#enlist til 10)'))
display(q('(11?`6)!flip (`$"col",/:string til 21)!(21#enlist til 11)'))

pykx.Dictionary(pykx.q('
      | col0 col1..
------| ---------..
nedelj| 0    0   ..
lmlfnb| 1    1   ..
modehh| 2    2   ..
gpknga| 3    3   ..
hidmlp| 4    4   ..
dfaegp| 5    5   ..
ekbajm| 6    6   ..
..
'))

pykx.Dictionary(pykx.q('
      | col0 col1..
------| ---------..
kngolp| 0    0   ..
hpengg| 1    1   ..
hjgfdn| 2    2   ..
okdjpp| 3    3   ..
iccnpe| 4    4   ..
pafmko| 5    5   ..
igiofo| 6    6   ..
..
'))

pykx.Dictionary(pykx.q('
      | col0 col1..
------| ---------..
ghckdi| 0    0   ..
colako| 1    1   ..
pdpkjj| 2    2   ..
dpaaom| 3    3   ..
cboooo| 4    4   ..
cobfma| 5    5   ..
daeknb| 6    6   ..
..
'))

In [15]:
# Single Key
q('singleKeyTab:`sym xkey ([] a:.z.d-til 2000; sym:2000?`7)')
display(q('0#singleKeyTab'))
display(q('1#singleKeyTab'))
display(q('2#singleKeyTab'))
display(q('10#singleKeyTab'))
display(q('11#singleKeyTab'))

pykx.KeyedTable(pykx.q('
sym| a
---| -
'))

pykx.KeyedTable(pykx.q('
sym    | a
-------| ----------
amlcebj| 2023.10.06
'))

pykx.KeyedTable(pykx.q('
sym    | a
-------| ----------
amlcebj| 2023.10.06
kmdgghe| 2023.10.05
'))

pykx.KeyedTable(pykx.q('
sym    | a
-------| ----------
amlcebj| 2023.10.06
kmdgghe| 2023.10.05
echhjlb| 2023.10.04
ikoceld| 2023.10.03
jdfkhoj| 2023.10.02
..
'))

pykx.KeyedTable(pykx.q('
sym    | a
-------| ----------
amlcebj| 2023.10.06
kmdgghe| 2023.10.05
echhjlb| 2023.10.04
ikoceld| 2023.10.03
jdfkhoj| 2023.10.02
..
'))

In [16]:
# Multi Key
q('multiKeyTab:`sym`blah xkey ([] a:.z.d-til 2000; sym:2000?`7;blah:-2000?1000000)')
display(q('0#multiKeyTab'))
display(q('1#multiKeyTab'))
display(q('2#multiKeyTab'))
display(q('10#multiKeyTab'))
display(q('11#multiKeyTab'))

pykx.KeyedTable(pykx.q('
sym blah| a
--------| -
'))

pykx.KeyedTable(pykx.q('
sym     blah  | a..
--------------| -..
almhhdb 929489| 2..
'))

pykx.KeyedTable(pykx.q('
sym     blah  | a..
--------------| -..
almhhdb 929489| 2..
makdpab 64892 | 2..
'))

pykx.KeyedTable(pykx.q('
sym     blah  | a..
--------------| -..
almhhdb 929489| 2..
makdpab 64892 | 2..
ppniapd 469915| 2..
bkjcbfb 280591| 2..
afpcfih 764586| 2..
..
'))

pykx.KeyedTable(pykx.q('
sym     blah  | a..
--------------| -..
almhhdb 929489| 2..
makdpab 64892 | 2..
ppniapd 469915| 2..
bkjcbfb 280591| 2..
afpcfih 764586| 2..
..
'))

In [17]:
q('11#multiKeyTab').pd()

                        a
sym     blah
almhhdb 929489 2023-10-06
makdpab 64892  2023-10-05
ppniapd 469915 2023-10-04
bkjcbfb 280591 2023-10-03
afpcfih 764586 2023-10-02
pgeldjj 386282 2023-10-01
okjmalh 177151 2023-09-30
oolming 931983 2023-09-29
emfambc 522272 2023-09-28
denjgia 153992 2023-09-27
fiihlfa 224934 2023-09-26

In [18]:
# Single column splay table
display(q('{x set 0#([] a:.z.d-til 2000);get x}`:singleColSplay/'))
display(q('{x set 1#([] a:.z.d-til 2000);get x}`:singleColSplay/'))
display(q('{x set 2#([] a:.z.d-til 2000);get x}`:singleColSplay/'))
display(q('{x set 10#([] a:.z.d-til 2000);get x}`:singleColSplay/'))
display(q('{x set 11#([] a:.z.d-til 2000);get x}`:singleColSplay/'))

pykx.SplayedTable(pykx.q('
a
-
'))

pykx.SplayedTable(pykx.q('
a
----------
2023.10.06
'))

pykx.SplayedTable(pykx.q('
a
----------
2023.10.06
2023.10.05
'))

pykx.SplayedTable(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

pykx.SplayedTable(pykx.q('
a
----------
2023.10.06
2023.10.05
2023.10.04
2023.10.03
2023.10.02
..
'))

In [19]:
# Multi column splay
display(q('{x set 0#([] a:.z.d-til 2000; b:til 2000);get x}`:multiColSplay/'))
display(q('{x set 1#([] a:.z.d-til 2000; b:til 2000);get x}`:multiColSplay/'))
display(q('{x set 2#([] a:.z.d-til 2000; b:til 2000);get x}`:multiColSplay/'))
display(q('{x set 10#([] a:.z.d-til 2000; b:til 2000);get x}`:multiColSplay/'))
display(q('{x set 11#([] a:.z.d-til 2000; b:til 2000);get x}`:multiColSplay/'))

pykx.SplayedTable(pykx.q('
a b
---
'))

pykx.SplayedTable(pykx.q('
a          b
------------
2023.10.06 0
'))

pykx.SplayedTable(pykx.q('
a          b
------------
2023.10.06 0
2023.10.05 1
'))

pykx.SplayedTable(pykx.q('
a          b
------------
2023.10.06 0
2023.10.05 1
2023.10.04 2
2023.10.03 3
2023.10.02 4
..
'))

pykx.SplayedTable(pykx.q('
a          b
------------
2023.10.06 0
2023.10.05 1
2023.10.04 2
2023.10.03 3
2023.10.02 4
..
'))

In [20]:
q('n:-1+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('{x set y;get x}[`:multiColSplay/]0#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]1#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]2#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]10#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]11#extraWide'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [21]:
q('n:last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('{x set y;get x}[`:multiColSplay/]0#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]1#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]2#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]10#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]11#extraWide'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [22]:
q('n:1+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('{x set y;get x}[`:multiColSplay/]0#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]1#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]2#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]10#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]11#extraWide'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [23]:
q('n:50+last system"c";extraWide:flip (`$"col",/:string 1+til n)!n#enlist til 1000')
display(q('{x set y;get x}[`:multiColSplay/]0#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]1#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]2#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]10#extraWide'))
display(q('{x set y;get x}[`:multiColSplay/]11#extraWide'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

pykx.SplayedTable(pykx.q('
col1 col2 col3 co..
-----------------..
0    0    0    0 ..
1    1    1    1 ..
2    2    2    2 ..
3    3    3    3 ..
4    4    4    4 ..
..
'))

In [24]:
# Syms and enums
q('enums:`sym?`aa`cc`bb')
q('symsEnums:([] a:(`aa;`aa`bb;enlist `aa`bb;first enums;enums;enlist enums))')
display(q('symsEnums'))
display(q('30#symsEnums'))
display(q('symsEnums (),0'))
display(q('symsEnums (),1'))
display(q('symsEnums (),2'))
display(q('symsEnums (),3'))
display(q('symsEnums (),4'))
display(q('symsEnums (),5'))

pykx.Table(pykx.q('
a
---------------
`aa
`aa`bb
,`aa`bb
`sym$`aa
`sym$`aa`cc`bb
,`sym$`aa`cc`bb
'))

pykx.Table(pykx.q('
a
--------------
`aa
`aa`bb
,`aa`bb
`sym$`aa
`sym$`aa`cc`bb
..
'))

pykx.Table(pykx.q('
a
--
aa
'))

pykx.Table(pykx.q('
a
-----
aa bb
'))

pykx.Table(pykx.q('
a
-----
aa bb
'))

pykx.Table(pykx.q('
a
--
aa
'))

pykx.Table(pykx.q('
a
--------
aa cc bb
'))

pykx.Table(pykx.q('
a
--------
aa cc bb
'))

In [25]:
q('delete sym from `.')
display(q('symsEnums'))
display(q('30#symsEnums'))
display(q('symsEnums (),0'))
display(q('symsEnums (),1'))
display(q('symsEnums (),2'))
display(q('symsEnums (),3'))
display(q('symsEnums (),4'))
display(q('symsEnums (),5'))

pykx.Table(pykx.q('
a
-----------
`aa
`aa`bb
,`aa`bb
`sym!0
`sym!0 1 2
,`sym!0 1 2
'))

pykx.Table(pykx.q('
a
----------
`aa
`aa`bb
,`aa`bb
`sym!0
`sym!0 1 2
..
'))

pykx.Table(pykx.q('
a
--
aa
'))

pykx.Table(pykx.q('
a
-----
aa bb
'))

pykx.Table(pykx.q('
a
-----
aa bb
'))

pykx.Table(pykx.q('
a
-
0
'))

pykx.Table(pykx.q('
a
-----
0 1 2
'))

pykx.Table(pykx.q('
a
-----
0 1 2
'))

In [26]:
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] 30#symsEnums;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),0;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),1;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),2;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),3;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),4;get `:symsEnumsSplay/'))
display(q('`:symsEnumsSplay/ set .Q.en[`:.] symsEnums (),5;get `:symsEnumsSplay/'))

pykx.SplayedTable(pykx.q('
a
-----------
`aa
`aa`bb
,`aa`bb
`sym!0
`sym!0 1 2
,`sym!0 1 2
'))

pykx.SplayedTable(pykx.q('
a
----------
`aa
`aa`bb
,`aa`bb
`sym!0
`sym!0 1 2
..
'))

pykx.SplayedTable(pykx.q('
a
--
aa
'))

pykx.SplayedTable(pykx.q('
a
-----
aa bb
'))

pykx.SplayedTable(pykx.q('
a
-----
aa bb
'))

pykx.SplayedTable(pykx.q('
a
--
aa
'))

pykx.SplayedTable(pykx.q('
a
------
aa bb
'))

pykx.SplayedTable(pykx.q('
a
------
aa bb
'))

In [27]:
q('keyedSymsEnums:`b xkey update b:i from symsEnums')
display(q('keyedSymsEnums'))
display(q('30#keyedSymsEnums'))
display(q('keyedSymsEnums (),0'))
display(q('keyedSymsEnums (),1'))
display(q('keyedSymsEnums (),2'))
display(q('keyedSymsEnums (),3'))
display(q('keyedSymsEnums (),4'))
display(q('keyedSymsEnums (),5'))

pykx.KeyedTable(pykx.q('
b| a
-| -------------
0| `aa
1| `aa`bb
2| ,`aa`bb
3| `sym$`aa
4| `sym$`aa`bb`
5| ,`sym$`aa`bb`
'))

pykx.KeyedTable(pykx.q('
b| a
-| ------------
0| `aa
1| `aa`bb
2| ,`aa`bb
3| `sym$`aa
4| `sym$`aa`bb`
..
'))

pykx.Dictionary(pykx.q('a| aa'))

pykx.Dictionary(pykx.q('a| aa bb'))

pykx.Dictionary(pykx.q('a| aa bb'))

pykx.Dictionary(pykx.q('a| aa'))

pykx.Dictionary(pykx.q('a| aa bb '))

pykx.Dictionary(pykx.q('a| aa bb '))

In [28]:
import os
if not 'HDB' == os.path.basename(os.getcwd()):
    os.makedirs('HDB', exist_ok=True)
    os.chdir('HDB')

In [29]:
# Partitioned syms and enums
q('(`$":2001.01.02/partitionedTab/") set .Q.en[`:.] 0#symsEnums')
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] 30#symsEnums;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),0;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),1;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),2;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),3;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),4;system"l .";partitionedTab'))
display(q('(`$":2001.01.01/partitionedTab/") set .Q.en[`:.] symsEnums (),5;system"l .";partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 `aa   ..
2001.01.01 `aa`bb..
2001.01.01 ,`aa`b..
2001.01.01 `sym$`..
2001.01.01 `sym$`..
2001.01.01 ,`sym$..
'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 `aa   ..
2001.01.01 `aa`bb..
2001.01.01 ,`aa`b..
2001.01.01 `sym$`..
2001.01.01 `sym$`..
..
'))

pykx.PartitionedTable(pykx.q('
date       a
-------------
2001.01.01 aa
'))

pykx.PartitionedTable(pykx.q('
date       a
----------------
2001.01.01 aa bb
'))

pykx.PartitionedTable(pykx.q('
date       a
----------------
2001.01.01 aa bb
'))

pykx.PartitionedTable(pykx.q('
date       a
-------------
2001.01.01 aa
'))

pykx.PartitionedTable(pykx.q('
date       a
-----------------
2001.01.01 aa bb
'))

pykx.PartitionedTable(pykx.q('
date       a
-----------------
2001.01.01 aa bb
'))

In [30]:
# Partitioned
q('(`$":2001.01.01/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q(''))

In [31]:
q('(`$":2001.01.01/partitionedTab/") set 1#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
'))

In [32]:
q('(`$":2001.01.01/partitionedTab/") set 2#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
'))

In [33]:
q('(`$":2001.01.01/partitionedTab/") set 10#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
..
'))

In [34]:
q('(`$":2001.01.01/partitionedTab/") set 11#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
..
'))

In [35]:
q('(`$":2001.01.01/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q(''))

In [36]:
q('(`$":2001.01.01/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 1#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.02 2023.1..
'))

In [37]:
q('(`$":2001.01.01/partitionedTab/") set 10#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 10#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
..
'))

In [38]:
q('(`$":2001.01.01/partitionedTab/") set 1#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
'))

In [39]:
q('(`$":2001.01.01/partitionedTab/") set 35#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
..
'))

In [40]:
q('(`$":2001.01.01/partitionedTab/") set 0#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 35#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.02 2023.1..
2001.01.02 2023.1..
2001.01.02 2023.1..
2001.01.02 2023.1..
2001.01.02 2023.1..
..
'))

In [41]:
q('(`$":2001.01.01/partitionedTab/") set 11#([] a:.z.d-til 2000;b:til 2000)')
q('(`$":2001.01.02/partitionedTab/") set 11#([] a:.z.d-til 2000;b:til 2000)')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       a     ..
-----------------..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
2001.01.01 2023.1..
..
'))

In [42]:
q('(`$":2001.01.01/partitionedTab/") set 0#extraWide')
q('(`$":2001.01.02/partitionedTab/") set 0#extraWide')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q(''))

In [43]:
q('(`$":2001.01.01/partitionedTab/") set 13#extraWide')
q('(`$":2001.01.02/partitionedTab/") set 0#extraWide')
q('system"l ."')
display(q('partitionedTab'))

pykx.PartitionedTable(pykx.q('
date       col1 c..
-----------------..
2001.01.01 0    0..
2001.01.01 1    1..
2001.01.01 2    2..
2001.01.01 3    3..
2001.01.01 4    4..
..
'))